<div class="uk-section-muted uk-section">





  <div class="uk-container">

    <div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin" uk-grid>
      <div class="uk-width-1-1@m">





        <h1 class="uk-heading-divider">        Mentions légales    </h1>



      </div>
    </div><div class="tm-grid-expand uk-grid-margin" uk-grid>
    <div class="uk-width-1-2@m">





      <div class="uk-panel uk-margin-remove-first-child uk-margin">





        <h3 class="el-title uk-margin-top uk-margin-remove-bottom">                        Propriétaire                    </h3>




        <div class="el-content uk-panel uk-margin-top"><p><strong>Décor&rsquo;Moi SRL<br /></strong></p>
          <p>Avenue des Sept Bonniers 2 bte3</p>
          <p>1180 UCCLE</p>
          <p>TVA: BE 0726.841.982</p></div>





      </div>



    </div>

    <div class="uk-width-1-2@m">





      <div class="uk-panel uk-margin-remove-first-child uk-margin">





        <h3 class="el-title uk-margin-top uk-margin-remove-bottom">                        Editeur du site                    </h3>




        <div class="el-content uk-panel uk-margin-top"><p><strong>YY Webdesign</strong></p>
          <p>TVA: BE 0666 686 641</p>
          <p><a href="tel:+32-472-36-82-70">+32 472 36 82 70</a></p>
          <p><a href="mailto:info@yasmineyende.com">info@yasmineyende.com</a></p></div>





      </div>



    </div>
  </div><div class="tm-grid-expand uk-grid-margin" uk-grid>
    <div class="uk-width-1-2@m">





      <div class="uk-panel uk-margin-remove-first-child uk-margin">





        <h3 class="el-title uk-margin-top uk-margin-remove-bottom">                        Contact                    </h3>




        <div class="el-content uk-panel uk-margin-top"><p><a href="mailto:info@decormoi.be">info@decormoi.be</a></p>
          <p><a href="tel:+32-484-819-257">+32 484 819 257</a></p>
          <p><a href="tel:+32-475-953-119">+32 475 953 119</a></p></div>





      </div>



    </div>

    <div class="uk-width-1-2@m">





      <div class="uk-panel uk-margin-remove-first-child uk-margin">





        <h3 class="el-title uk-margin-top uk-margin-remove-bottom">                        Hébergeur                    </h3>




        <div class="el-content uk-panel uk-margin-top"><p>OVH</p>
          <p>SAS au capital de 10 069 020 €</p>
          <p>RSC Lille Métropole 424 761 419 00045</p>
          <p>TVA: FR 22 424 761 419</p>
          <p>Siège social: 2 rue Kellerman,</p>
          <p>59100 Roubaix, France</p></div>





      </div>



    </div>
  </div>
  </div>




</div>

