<div class="uk-section-muted uk-section">





  <div class="uk-container">

    <div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin" uk-grid>
      <div class="uk-width-1-1@m">





        <h1 class="uk-heading-divider uk-margin-medium uk-text-center">        Questions fréquemment posées    </h1><div><div style="clear:both; height:20px"></div></div>
        <div uk-accordion="collapsible: true;">
          <div class="el-item">

            <a class="el-title uk-accordion-title" href="#">Utilisez-vous des fleurs artificielles ?</a>

            <div class="uk-accordion-content uk-margin-remove-first-child">

              <div class="el-content uk-panel uk-margin-top"><p>Nous estimons qu&rsquo;un bouquet de fleurs doit être naturel. La fraicheur et les senteurs des fleurs fraichement coupées sont irremplaçables.</p></div>
            </div>
          </div>

        </div><hr>
        <div uk-accordion="collapsible: true;">
          <div class="el-item">

            <a class="el-title uk-accordion-title" href="#">Êtes-vous en mesure de décorer un lieu du sol au plafond ?</a>

            <div class="uk-accordion-content uk-margin-remove-first-child">

              <div class="el-content uk-panel uk-margin-top"><p>Certainement. Nous aimons prendre possession d&rsquo;une salle, d&rsquo;une église ou d&rsquo;un extérieur et leur donner une nouvelle vie le temps de votre événement.</p></div>
            </div>
          </div>

        </div><hr>
        <div uk-accordion="collapsible: true;">
          <div class="el-item">

            <a class="el-title uk-accordion-title" href="#">Est-ce que vous décorez uniquement en Belgique ?</a>

            <div class="uk-accordion-content uk-margin-remove-first-child">

              <div class="el-content uk-panel uk-margin-top"><p>Nous pouvons nous déplacer partout dans le monde dépendamment bien entendu des infrastructures.</p></div>
            </div>
          </div>

        </div><hr>
        <div uk-accordion="collapsible: true;">
          <div class="el-item">

            <a class="el-title uk-accordion-title" href="#">Pourriez-vous nous transmettre un catalogue de décoration ?</a>

            <div class="uk-accordion-content uk-margin-remove-first-child">

              <div class="el-content uk-panel uk-margin-top"><p>Notre passion est de créer une décoration à votre image donc nous n&rsquo;avons pas de catalogue. Mais vu la demande grandissante, nous y réfléchissons.</p></div>
            </div>
          </div>

        </div><hr>
        <div uk-accordion="collapsible: true;">
          <div class="el-item">

            <a class="el-title uk-accordion-title" href="#">Quand pensez-vous commencer vos MasterClass ?</a>

            <div class="uk-accordion-content uk-margin-remove-first-child">

              <div class="el-content uk-panel uk-margin-top"><p>Nous nous préparons pour l&rsquo;année 2021. Restez connectés sur nos réseaux.</p></div>
            </div>
          </div>

        </div><hr>
        <div uk-accordion="collapsible: true;">
          <div class="el-item">

            <a class="el-title uk-accordion-title" href="#">Avez-vous des prestataires de qualité à nous recommander ?</a>

            <div class="uk-accordion-content uk-margin-remove-first-child">

              <div class="el-content uk-panel uk-margin-top"><p>Oui et c&rsquo;est avec un grand plaisir que nous les avons mentionnés dans notre page « Devis ».</p></div>
            </div>
          </div>

        </div><div><div style="clear:both; height:30px"></div></div>



      </div>
    </div>
  </div>




</div>
