.panel-body{
	height: 100%;
}
.container{
	padding: 0px;
}

#page\#0 {
    background-color: #fff;
}

.uk-section-default {
    background: #fdfdf8;
}

.uk-section {
    display: flow-root;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

.uk-section-small {
    padding-top: 40px;
    padding-bottom: 40px;
}

.uk-section>:last-child {
    margin-bottom: 0;
}

.uk-section-muted {
    background: #f5f5f5;
}

.uk-container {
    display: flow-root;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.tm-grid-expand>* {
    flex-grow: 1;
}

.uk-grid>* {
    padding-left: 30px;
    margin: 0;
}

.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -30px;
}

.uk-grid>*>:last-child {
    margin-bottom: 0;
}

uk-text-center {
    text-align: center!important;
}

.uk-h1, h1 {
    font-size: 35.7px;
    line-height: 1.2;
    font-family: 'Abhaya Libre';
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    font-family: 'Abhaya Libre';
    font-weight: inherit;
    color: #3b3d3c;
    text-transform: inherit;
}

#h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

*+.uk-hr, *+hr {
    margin-top: 20px;
}
.uk-hr, hr {
    overflow: visible;
    text-align: inherit;
    margin: 0 0 20px 0;
    border: 0;
    border-top: 1px solid #eee;
}

#hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.uk-text-center {
    text-align: center!important;
}

.uk-h2, h2 {
    font-size: 30.6px;
    line-height: 1.3;
    font-family: 'Abhaya Libre';
}
*+.uk-h1, *+.uk-h2, *+.uk-h3, *+.uk-h4, *+.uk-h5, *+.uk-h6, *+.uk-heading-2xlarge, *+.uk-heading-large, *+.uk-heading-medium, *+.uk-heading-small, *+.uk-heading-xlarge, *+h1, *+h2, *+h3, *+h4, *+h5, *+h6 {
    margin-top: 40px;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    font-family: 'Abhaya Libre';
    font-weight: inherit;
    color: #3b3d3c;
    text-transform: inherit;
}

#h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.uk-grid>*>:last-child {
    margin-bottom: 0;
}

*+.uk-margin {
    margin-top: 20px!important;
}
.uk-margin {
    margin-bottom: 20px;
}

.uk-panel {
    display: flow-root;
    position: relative;
    box-sizing: border-box;
}
.uk-text-lead {
    font-size: 20px;
    line-height: 1.5;
    color: #5c5e5d;
    font-family: 'Open Sans';
}

[class*=uk-width] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.uk-card-default {
    background: #fdfdf8;
    color: #5c5e5d;
    box-shadow: 1px 1px 20px rgb(88 88 88 / 10%);
}
.uk-card {
    position: relative;
    box-sizing: border-box;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color,box-shadow,top;
}

.uk-card-body {
    display: flow-root;
    padding: 30px 30px;
}

.uk-margin-remove-adjacent+*, .uk-margin-remove-first-child>:first-child {
    margin-top: 0!important;
}
.uk-card-default .uk-card-title {
    color: #8495a5;
}
.uk-margin-remove-bottom {
    margin-bottom: 0!important;
}
.uk-margin-top {
    margin-top: 20px!important;
}
.uk-card-title {
    font-size: 28px;
    line-height: 1.4;
    font-family: 'Abhaya Libre';
}
.uk-h3, h3 {
    font-size: 28px;
    line-height: 1.4;
    font-family: 'Abhaya Libre';
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    font-family: 'Abhaya Libre';
    font-weight: inherit;
    color: #3b3d3c;
    text-transform: inherit;
}

user agent stylesheet

#h3 {

    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

uk-card-body>:last-child, .uk-card-footer>:last-child, .uk-card-header>:last-child {
    margin-bottom: 0;
}
.uk-margin-top {
    margin-top: 20px!important;
}
.uk-text-meta {
    font-size: 13px;
    line-height: 1.4;
    color: #b1b1b1;
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.uk-padding-remove-top {
    padding-top: 0!important;
}


.uk-grid-item-match>:not([class*=uk-width]), .uk-grid-match>*>:not([class*=uk-width]) {
    box-sizing: border-box;
    width: 100%;
    flex: auto;
}

.uk-tile {
    display: flow-root;
    position: relative;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#page\#1-0-0-2 {
    font-family: 'Ruthie', cursive;
    font-size: 36px;
}

.uk-panel>:last-child {
    margin-bottom: 0;
}
*+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul {
    margin-top: 20px;
}
address, dl, fieldset, figure, ol, p, pre, ul {
    margin: 0 0 20px 0;
}

#p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.uk-margin-remove-adjacent+*, .uk-margin-remove-first-child>:first-child {
    margin-top: 0!important;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    font-family: 'Abhaya Libre';
    font-weight: inherit;
    color: #3b3d3c;
    text-transform: inherit;
}

#page\#2-0-0-0 {
    font-family: 'Ruthie', cursive;
    font-size: 36px;
}