<div class="container ">
	<div class="row">
		<div col-md-12 >
			<div class="panel panel-default">

				<div class="panel-heading"><h2>À propos de nous</h2>
				</div>

				<div class="panel-body">

				<!-- SECTION 1 -->
				<div id="page#0" class="uk-section-default uk-section uk-section-small">

    				<div class="uk-container">                
                    
                		<div class="tm-grid-expand uk-grid-margin" uk-grid>

							<div class="uk-width-1-2@m uk-first-column">
           
								<h1 class="uk-text-center">        UNE PASSION COMMUNE    </h1>

								<hr>

								<h2 class="uk-text-center">        Qui Sommes-Nous?    </h2>

								<div class="uk-panel uk-text-lead uk-margin">
								<p style="text-align: justify;">Il a plutôt la casquette du gestionnaire, celui qui organise et aime les choses carrées : Fabien, l&rsquo;homme des chiffres et de l&rsquo;ombre.</p>

								<p style="text-align: justify;">Elle, Greta, c&rsquo;est l&rsquo;artiste, celle qui a besoin de s&rsquo;exprimer, laisser parler sa créativité sans contraintes.</p>

								<hr/>

								<p style="text-align: justify;">Nous sommes avant tout une équipe complémentaire, passionnée par la décoration, l&rsquo;art floral et la scénographie.</p>
								</div>

           					</div>

							<div class="uk-width-1-2@m uk-grid-margin uk-first-column">
    							
    							<div class="uk-card uk-card-default uk-margin uk-text-center">
    
							    	<div class="uk-card-media-top"><img src="../../../content/images/Founders-square-x384-3ceba041.png" sizes="(min-width: 384px) 384px" data-width="384" data-height="384" class="el-image" alt="À propos">
							    	</div> 

							    	<div class="uk-card-body uk-margin-remove-first-child">

										<h3 class="el-title uk-card-title uk-margin-top uk-margin-remove-bottom">Fabien &#038; Greta</h3>     

										<div class="el-meta uk-text-meta uk-margin-top">Fondateurs de Décor&rsquo;Moi</div>

									</div>        
    							</div>
        					</div>

						</div>
					</div>
            	</div>
        		</div>

        		<!-- SECTION 2 -->
        		<div class="uk-section-default uk-section uk-section-small uk-padding-remove-top">

    				<div class="uk-container">                
                    	<div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin" uk-grid>
							<div class="uk-grid-item-match uk-width-1-1@m">
        						<div class="uk-tile-default uk-tile">       
									<h2 class="uk-text-center">        POURQUOI NOUS?    </h2>
									<hr>

									<div class="uk-panel uk-margin uk-text-center" id="page#1-0-0-2"><link href="https://fonts.googleapis.com/css2?family=Ruthie&#038;display=swap" rel="stylesheet">
									<p>Du sur-mesure dans l&rsquo;événementiel</p>
									</div>


									<div class="uk-panel uk-margin-remove-first-child uk-margin">
							    
							        	<div class="uk-child-width-expand" uk-grid> 

							        		<div class="uk-width-1-2@m">
							        			<img src="../../../content/images/why-us-58c48408.jpeg" sizes="(min-width: 448px) 448px" data-width="448" data-height="448" class="el-image" alt="À propos"></div> 
							        		<div class="uk-margin-remove-first-child">
							            		<div class="el-content uk-panel uk-margin-top">

							            			<ul>
														<li>
															<h3>Art Floral</h3>
														</li>
														<li>
															<h3>Event Design</h3>
														</li>
														<li>
															<h3>Wedding design</h3>
														</li>
														<li>
															<h3>Visual merchandising</h3>
														</li>
														<li>
															<h3>Scénographie</h3>
														</li>
														<li>
															<h3>Projection 3D</h3>
														</li>
													</ul>

														<hr/>

													<p style="text-align: justify;">NOUS NOUS ENGAGEONS À DESIGNER VOS ESPACES ET À CRÉER L&rsquo;AMBIANCE DONT VOUS RÊVEZ.
													</p>

												</div>    
											</div> 
							       		</div>
                                    </div>
								</div>
							</div>
						</div>
					</div>

				<!-- SECTION 3 -->
				<div class="uk-section-muted uk-section uk-section-small">
    				<div class="uk-container">                
                    
                    <div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin" uk-grid>
<div class="uk-width-1-1@m">
    
        
            
            
                <div class="uk-panel uk-margin uk-text-center" id="page#2-0-0-0"><p>Un lieu à votre image</p></div>
<div class="uk-panel uk-margin-remove-first-child uk-margin">
    
        <div class="uk-child-width-expand" uk-grid>            <div class="uk-width-1-2@m uk-flex-last@m"><img src="../../../content/images/lieu-a-votre-image-x448-1b43a98d.jpeg" sizes="(min-width: 448px) 448px" data-width="448" data-height="448" class="el-image" alt="À propos"></div>            <div class="uk-margin-remove-first-child">
        
                <div class="el-content uk-panel uk-margin-top"><h3>Conseils &amp; accompagnement</h3>
<ul>
<li>Choix des lieux selon le type d&rsquo;évènement</li>
<li>Configuration des espaces</li>
<li>Mise en place et accueil des convives</li>
<li>Disposition des tables</li>
</ul>
<h3>Mise en valeur d&rsquo;espaces variés</h3>
<ul>
<li>Espaces professionnels (bureaux, boutiques, etc.)</li>
<li>Espaces privés (jardins, salons, etc.)</li>
<li>Lieux de fête (salles, châteaux, etc.)</li>
<li>Lieux insolites (salles de sport, caves, grottes, etc.)</li>
</ul>
<hr />
<p style="text-align: justify;">NOUS TRANSFORMONS VOTRE LIEU AFIN QU&rsquo;IL REFLÈTE VOTRE PERSONNALITÉ</p></div>        
        
        
                
            </div>        </div>

    
</div>
            
        
    
</div>
</div>
                                </div>
                
            
        
    
</div>


				</div>
			</div>
		</div>
	</div>
</div>

