<!--------- blog --------->
<!-------------------- row 1------------------>
<div class="container"></div>
	<div class="container1 row1">
		<div class="row">
			<div class="col-md-12 text-center ">

				<div>

					<p class="title">Hello la communauté,</p>

					<p>Vous nous avez découvert, pour les plus anciens, via nos décorations de mariages et pour beaucoup nous ne faisions que cela. Laissez-moi vous dire que c’est une grossière erreur et en même temps, mea culpa.
					Car nous n’avions pas pris le temps de vous expliquer qui nous sommes et ce que nous faisons.
					Voici la raison de ce blog, nous vous raconterons nos expériences, les nouvelles tendances, nos ambitions et challenges etc. bref notre life.
					</p>

				</div>

				<p style="color: darkgoldenrod;"> L'équipe de décor'moi</p>

			</div>

		</div>

	</div>


	<!-------------------- row 2------------------>


	<div class="container1">
		<div class="row">
			<!----------row 2 Colonne 1-------------->
			<div class="col-md-4 ">

				<!-- contenu -->

				<div class="thumbnail">
	     			<img src="../../../content/images/garden party.jpeg" alt="Nature">
	     		<div class="caption">
	       			<h3 class="titre">Que peut bien faire une société de décoration en période de confinement ?</h3>
	       			<p>L'arrivée du Covid a secoué nos habitudes nous poussant dans nos derniers retranchements. Décor'moi a décidé de vous raconter son confinement.
	       			</p>
	       		<p>
	       		<li routerLinkActive="active"><a routerLink="single-blog" class="btn btn-xs btn-default" role="button" title="Voir le détail">Voir le détail</a></li>

	   		</p>

	     		</div>

	     		</div>

				<!-- ---------->

			</div>

			<!----------row 2 Colonne 2-------------->
			<div class="col-md-4">
							<!-- contenu -->

				<div class="thumbnail">
	     			<img src="../../../content/images/tourettaxi.jpeg" alt="Nature">
	     		<div class="caption">
	       			<h3 class="titre">Vous avez raté le Salon du Mariage de Tour&Taxi 2019, Décor’moi vous raconte.</h3>
	       			<p>2000 couples, 115 exposants et 4 défilés sur le site de Tour&Taxi, des chiffres qui font de ce salon un incontournable.
	       			</p>
	       		<p>
	       		<li routerLinkActive="active"><a routerLink="blog-single" class="btn btn-xs btn-default" role="button" title="Voir le détail">Voir le détail</a></li>

	   		</p>

	     		</div>

	     		</div>

				<!-- ---------->


			</div>
			<!----------row 2 Colonne 3-------------->
			<div class="col-md-4">

							<!-- contenu -->

				<div class="thumbnail">
	     			<img src="../../../content/images/salon-du-mariage-africain.jpeg" alt="Nature">
	     		<div class="caption">
	       			<h3 class="titre">Le tout premier Salon du Mariage Africain de Bruxelles</h3>
	       			<p>Un tout nouveau salon a vu le jour à Bruxelles en 2016 et ce fût le salon du mariage africain au Thon Hôtel Bristol Stéphanie avenue Louise
	       			</p>
	       	<p>
	       		<li routerLinkActive="active"><a routerLink="blog-single" href="blog-sigle" class="btn btn-xs btn-default" role="button" title="Voir le détail">Voir le détail</a></li>

	   		</p>

	     		</div>

	     		</div>

				<!-- ---------->



			</div>
			<!--------------------fin row 2---------------->

			<!--------------------ligne suivante ici---------------->

		</div>

	</div>


<!--------- fin blog --------->
