<div class="container">
    <div class="row">
      <!----------row 2 Colonne 1-------------->
      <div class="col-md-12">
        <!-- contenu -->
  
        <div class="thumbnail">
          <img [src]="blog?.img" alt="Nature" />
          <div class="caption">
            <h3 class="titre">{{blog?.title}}</h3>
            <p>
              {{blog?.subtitle}}
            </p>
          </div>
        </div>
        <!-- ---------->
      </div>
    </div>
    <div class="row" *ngIf="account">
      <div class="col-md-6">
        <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center;"><h2>Les commentaires</h2></div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let comment of comments;">
            <b>{{comment.user.login | uppercase }} :</b> {{comment.content}}
          </li>
        </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading" style="text-align: center;"><h2>Ecrire un commentaire</h2></div>
  
          <div class="panel-body">
            
            <form (ngSubmit)="send()">
             
              <div class="form-group"> 
                <label for="nom">Nom d'utilisateur</label>
                <input type="text" name="username"class="form-control" [value]="account?.login" disabled>
              </div>   

              <div class="form-group">
                <label for="nom">Adresse-mail</label>
                <input type="email" name="mail"class="form-control" [value]="account?.email" disabled>
              </div>              
  
              <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" class="form-control" rows="3" name="message" [(ngModel)]="message"></textarea>
              </div>
              <button type="submit" class="btn btn-success"> Envoyer</button>  
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!account">
      <div class="col-md-12">
        <div class="alert alert-info">
          Veuillez-vous 
          <a class="alert-link" routerLink="/login">connecter</a> ou vous 
          <a class="alert-link" routerLink="/account/register">inscrire</a>
          pour voir les commentaires.
        </div>
      </div>
    </div>
  </div>