.uk-padding-remove-bottom {
    padding-bottom: 0!important;
}
.uk-section-default {
    background: #fdfdf8;
}

.uk-section>:last-child {
    margin-bottom: 0;
}
.uk-container {
    display: flow-root;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.uk-section-default {
    background: #fdfdf8;
}
.uk-section {
    display: flow-root;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

.uk-padding-remove-bottom {
    padding-bottom: 0!important;
}
.uk-section-muted {
    background: #f5f5f5;
}
.uk-section {
    display: flow-root;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

.uk-section>:last-child {
    margin-bottom: 0;
}
.uk-container {
    display: flow-root;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.uk-grid {
    margin-left: -30px;
}
.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tm-grid-expand>* {
    flex-grow: 1;
}
[class*=uk-width] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}
[class*=uk-child-width]>* {
    box-sizing: border-box;
    width: 100%;
}
.uk-grid>* {
    padding-left: 30px;
}
.uk-grid>* {
    margin: 0;
}

div {
    display: block;
}

.uk-grid>*>:last-child {
    margin-bottom: 0;
}
.uk-heading-divider {
    padding-bottom: calc(5px + 0.1em);
    border-bottom: calc(0.2px + 0.04em) solid #eee;
}
.uk-h3, h3 {
    font-size: 28px;
    line-height: 1.4;
    font-family: 'Abhaya Libre';
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    font-family: 'Abhaya Libre';
    font-weight: inherit;
    color: #3b3d3c;
    text-transform: inherit;
}
.uk-h1, h1 {
    font-size: 35.7px;
    line-height: 1.2;
    font-family: 'Abhaya Libre';
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


*+.uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin {
    margin-top: 30px;
}
.uk-grid {
    margin-left: -30px;
}
.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tm-grid-expand>* {
    flex-grow: 1;
}
[class*=uk-width] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}
.uk-grid>* {
    padding-left: 30px;
}
.uk-grid>* {
    margin: 0;
}

.uk-grid>*>:last-child {
    margin-bottom: 0;
}
.uk-overflow-auto {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.uk-overflow-auto>:last-child {
    margin-bottom: 0;
}
.uk-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.uk-table tbody tr {
    transition: background-color .1s linear;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.uk-table-divider>:first-child>tr:not(:first-child), .uk-table-divider>:not(:first-child)>tr, .uk-table-divider>tr:not(:first-child) {
    border-top: 1px solid #eee;
}
