<div class="uk-section-default uk-section uk-padding-remove-bottom">





  <div class="uk-container">

    <div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin" uk-grid>
      <div class="uk-width-1-1@m">





        <h1 class="uk-heading-divider uk-text-center">        Conditions générales    </h1>



      </div>
    </div>
  </div>




</div>

<div class="uk-section-default uk-section">





  <div class="uk-container">

    <div class="tm-grid-expand uk-grid-margin" uk-grid>
      <div class="uk-width-1-2@m">





        <ul class="uk-list uk-text-justify">        <li class="el-item">

          <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


            <div class="el-title uk-margin-remove">1</div>

          </div>
            <div>


              <div class="el-content uk-panel"><p style="text-align: justify;">Le prix inclut la mise en place de la décoration conformément à ce qui aura été convenu entre les parties ainsi que l’enlèvement, uniquement, de tout le matériel de décoration.</p></div>

            </div>
          </div>

        </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">2</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p style="text-align: justify;">Par contre, le prix n’inclut pas les assiettes et les couverts (sauf promotion), leur enlèvement ainsi que le rangement des tables et chaise. A moins que cela ne soit convenu entre les parties moyennant supplément.</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">3</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p style="text-align: justify;">Le prix ne comprend pas le budget « fleurs » ainsi que les frais de déplacement.</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">4</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p style="text-align: justify;">En cas de stricte location de matériel, celui-ci est à venir chercher au dépôt à Grimbergen, au plus tôt la veille de l’évènement et à rapporter au plus tard le lendemain.</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">5</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p>La vaisselle (assiettes et couverts) doit être absolument  rendue propre.</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">6</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p style="text-align: justify;"><strong>En cas de non-respect des clauses 4 et 5, la SRL Décor’moi se réserve le droit de retenir la caution dans sa totalité.</strong></p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">7</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p style="text-align: justify;">Une réservation est effective dès réception de l’acompte de 25% (qui ne sera aucunement restitué même en cas d’annulation de l’évènement).</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">8</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p>Une caution de 10% du montant avec un minimum de 500 EUR est à verser et sera restituée après l’évènement ou au retour du matériel de décoration en bon état.</p></div>

              </div>
            </div>

          </li>
        </ul>



      </div>

      <div class="uk-width-1-2@m">





        <ul class="uk-list">        <li class="el-item">

          <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


            <div class="el-title uk-margin-remove">9</div>

          </div>
            <div>


              <div class="el-content uk-panel"><p style="text-align: justify;">Une caution de 250 EUR supplémentaire est à verser si vous prenez en option le mur de fleur ou la tonnelle.</p></div>

            </div>
          </div>

        </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">10</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p>Le solde et la caution sont à régler au plus tard une semaine avant l’évènement.</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">11</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p>Plus aucune modification de décoration ou du nombre d’invités ne sera accepté dans les deux mois précédents l’évènement. À moins que cela ne soit convenu entre les parties moyennant supplément.</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">12</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p>Les virements doivent être effectués sur le compte financier n° <strong>BE54 0689 3418 4997</strong> au nom de la SRL DECOR’MOI avec en communication votre nom et date de l’évènement.</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">13</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p>Le preneur du contrat est responsable en cas de vol, incendie ou détérioration du matériel.</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">14</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p style="text-align: justify;">Pour toute contestation relative à la non-exécution ou mauvaise exécution du présent contrat, les parties s&rsquo;engagent à faire, à l&rsquo;amiable, le décompte des services qui auront été prestés conformément au contrat et, seul le montant correspondant aux services prestés conformément au contrat sera payé.</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">15</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p style="text-align: justify;">En cas de non accord suite à une tentative de règlement à l&rsquo;amiable, les parties pourront recourir aux tribunaux compétents. Le présent contrat est régit par le droit belge. En cas de litige, le tribunal compétent est celui de l&rsquo;arrondissement judiciaire dans lequel le prestataire de services a son siège. »</p></div>

              </div>
            </div>

          </li>
        </ul>



      </div>
    </div>
  </div>




</div>

<div class="uk-section-muted uk-section uk-padding-remove-bottom">





  <div class="uk-container">

    <div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin" uk-grid>
      <div class="uk-width-1-1@m">





        <h1 class="uk-h3 uk-heading-divider">        Grille des prix de remplacement du matériel de décoration et de la vaisselle perdus ou endommagés    </h1>



      </div>
    </div><div class="tm-grid-expand uk-grid-margin" uk-grid>
    <div class="uk-width-1-2@s uk-width-1-4@m">





      <div class="uk-overflow-auto">    <table class="uk-table uk-table-divider uk-table-hover">

        <tbody>
        <tr class="el-item"><td class="uk-text-nowrap uk-table-shrink"><div class="el-title">V. cyl. D10cm 60cm</div></td><td><div class="el-content uk-panel"><p>25 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">V. cyl. D10cm 50cm</div></td><td><div class="el-content uk-panel"><p>20 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">V. cyl. D10cm 40cm</div></td><td><div class="el-content uk-panel"><p>15 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">V. cyl. D10cm 30cm</div></td><td><div class="el-content uk-panel"><p>10 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">V. cyl. D10cm 20cm</div></td><td><div class="el-content uk-panel"><p>5 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">V. cyl. D15cm 40cm</div></td><td><div class="el-content uk-panel"><p>20 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">V. cyl. D15cm 50cm</div></td><td><div class="el-content uk-panel"><p>25 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Vase Boule</div></td><td><div class="el-content uk-panel"><p>15 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Vase Martini</div></td><td><div class="el-content uk-panel"><p>25 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Vase Solifl/Tromp</div></td><td><div class="el-content uk-panel"><p>25 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Vase Flûte</div></td><td><div class="el-content uk-panel"><p>25 EUR</p></div></td></tr>
        </tbody>

      </table>

      </div>




    </div>

    <div class="uk-width-1-2@s uk-width-1-4@m">





      <div class="uk-overflow-auto">    <table class="uk-table uk-table-divider uk-table-hover">

        <tbody>
        <tr class="el-item"><td class="uk-text-nowrap uk-table-shrink"><div class="el-title">Assiette présentation</div></td><td><div class="el-content uk-panel"><p>5 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Assiette de met</div></td><td><div class="el-content uk-panel"><p>3 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Assiette à dessert</div></td><td><div class="el-content uk-panel"><p>2 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Couvert</div></td><td><div class="el-content uk-panel"><p>0.5 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Nappe</div></td><td><div class="el-content uk-panel"><p>20 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Serviette de table</div></td><td><div class="el-content uk-panel"><p>2 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Housse de chaise</div></td><td><div class="el-content uk-panel"><p>4 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Noeud chaise</div></td><td><div class="el-content uk-panel"><p>2 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Rond serviette</div></td><td><div class="el-content uk-panel"><p>3 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Chemin de table</div></td><td><div class="el-content uk-panel"><p>6 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Bougeoirs</div></td><td><div class="el-content uk-panel"><p>3 EUR</p></div></td></tr>
        </tbody>

      </table>

      </div>




    </div>

    <div class="uk-width-1-2@s uk-width-1-4@m">





      <div class="uk-overflow-auto">    <table class="uk-table uk-table-divider uk-table-hover">

        <tbody>
        <tr class="el-item"><td class="uk-text-nowrap uk-table-shrink"><div class="el-title">Projecteur</div></td><td><div class="el-content uk-panel"><p>80 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Rallonge</div></td><td><div class="el-content uk-panel"><p>3 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Tonnelle</div></td><td><div class="el-content uk-panel"><p>250 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Rideau lumineux</div></td><td><div class="el-content uk-panel"><p>250 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Ballet</div></td><td><div class="el-content uk-panel"><p>5 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Miroir</div></td><td><div class="el-content uk-panel"><p>15 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Lanterne blanche</div></td><td><div class="el-content uk-panel"><p>5 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Lanterne Afrique</div></td><td><div class="el-content uk-panel"><p>5 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Arbre</div></td><td><div class="el-content uk-panel"><p>100 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Trône de marié</div></td><td><div class="el-content uk-panel"><p>100 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Tissu (centre)</div></td><td><div class="el-content uk-panel"><p>5 EUR</p></div></td></tr>
        </tbody>

      </table>

      </div>




    </div>

    <div class="uk-width-1-2@s uk-width-1-4@m">





      <div class="uk-overflow-auto">    <table class="uk-table uk-table-divider uk-table-hover">

        <tbody>
        <tr class="el-item"><td class="uk-text-nowrap uk-table-shrink"><div class="el-title">Jupe de table (M)</div></td><td><div class="el-content uk-panel"><p>100 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Table Haute (T.H.)</div></td><td><div class="el-content uk-panel"><p>35 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Housse (T.H.)</div></td><td><div class="el-content uk-panel"><p>10 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Cadre n° de table</div></td><td><div class="el-content uk-panel"><p>5 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Chandelier M.</div></td><td><div class="el-content uk-panel"><p>125 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Tapis</div></td><td><div class="el-content uk-panel"><p>100 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Orchidée</div></td><td><div class="el-content uk-panel"><p>5 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Mur de fleurs</div></td><td><div class="el-content uk-panel"><p>600 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Cadre Plan (table)</div></td><td><div class="el-content uk-panel"><p>50 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Chandelier (bois)</div></td><td><div class="el-content uk-panel"><p>5 EUR</p></div></td></tr>
        <tr class="el-item"><td class="uk-text-nowrap"><div class="el-title">Voile (tonnelle)</div></td><td><div class="el-content uk-panel"><p>50 EUR</p></div></td></tr>
        </tbody>

      </table>

      </div>




    </div>
  </div><div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin" uk-grid>
    <div class="uk-width-1-1@m">




      <div class="uk-panel uk-margin"><p style="text-align: center;">*V = Vase | *cyl = cylindre | *D = diamètre | *Solifl = Soliflore | *Tromp = Trompette | *M = Mariés</p></div>



    </div>
  </div>
  </div>




</div>

<div class="uk-section-default uk-section">





  <div class="uk-container">

    <div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin" uk-grid>
      <div class="uk-width-1-1@m">





        <h1 class="uk-h3 uk-heading-divider">        <strong>Recommandations afin d’éviter des coûts supplémentaires :</strong>    </h1>
        <ul class="uk-list uk-text-justify">        <li class="el-item">

          <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


            <div class="el-title uk-margin-remove">1</div>

          </div>
            <div>


              <div class="el-content uk-panel"><p style="text-align: justify;">Nous retirons tout le matériel mais si vous demandez à vos proches de le faire, veuillez exiger qu’ils ne jettent rien (ex. chemin de table en pagne, couverts etc.)</p></div>

            </div>
          </div>

        </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">2</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p>Si vous optez pour l’utilisation des ronds de serviettes, nous vous recommandons vivement de demander à un proche de les récupérer lorsque vos convives se rendent au buffet.</p></div>

              </div>
            </div>

          </li>
          <li class="el-item">

            <div class="uk-child-width-expand uk-grid-small" uk-grid>        <div class="uk-width-auto">


              <div class="el-title uk-margin-remove">3</div>

            </div>
              <div>


                <div class="el-content uk-panel"><p>En cas de stricte location du matériel, veuillez ne pas utiliser nos nappes pour le buffet car les tâches non récupérées au lavage, nous obligeront à vous les facturer.</p></div>

              </div>
            </div>

          </li>
        </ul>



      </div>
    </div>
  </div>




</div>

<div class="uk-section-muted uk-section uk-section-small">





  <div class="uk-container">

    <div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin" uk-grid>
      <div class="uk-width-1-1@m">




        <div class="uk-panel uk-margin"><p>Vous pouvez télécharger les présentes conditions générales <a href="https://decormoi.be/wp-content/uploads/2020/02/CGV_10-02-2020.pdf" target="_blank" rel="noopener"><strong>ici</strong></a></p></div>



      </div>
    </div>
  </div>




</div>
